@font-face {
    font-family: SharpUnity;
    src: url(../fonts/SharpUnity-Extrabold.ttf);
}

@font-face {
    font-family: SharpUnitySB;
    src: url(../fonts/SharpUnity-Semibold.ttf);
}

@font-face {
    font-family: SharpUnityBook;
    src: url(../fonts/SharpUnity-Book.ttf);
}
.sharpUnity {
    font-family: SharpUnity;
    text-transform: none;
}

.sharpUnitySB {
    font-family: SharpUnitySB;
    text-transform: none;
}

.sharpUnityBook {
    font-family: SharpUnityBook;
    text-transform: none;
}

.black {
    color: black;
}

.darkgrey {
    color: #3C4858;
}

.yellow {
    color: yellow;
}